/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Apercu-Bold";

  src: url("./fonts/ApercuBold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/ApercuBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/ApercuBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}